

.card{

    padding: 10px;
    margin: 10px;
   
    background-color: #fff;
    border: 1px solid grey;
    border-radius: 10px;
    gap: 50px;
    width: 20vw;

    
    
    

   
}
 li{
    list-style-type: none;
    /* border: 2px solid black;
    padding: 10px;

    border-radius: 10px;
    margin: 10px; */
} 

.tText{
    box-sizing: border-box;
    font-size: 1rem;
    font-weight: 400;

}

.card-title{

    
    font-weight: 600;
    padding-left: 1rem;
    
    font-weight: 700;
    font-size: 1.3rem;
    line-height: 2.3rem;
    color: rgb(0, 43, 54);
    margin-bottom: 0.5rem;

    
}

.li-container{
    display: flex;
    list-style-type: none;
    margin-left: 3rem;
    margin-bottom: 0.5rem;
}

.li-item{
    font-weight: 400;
    padding: 2px 9px 2px 2px;
    font-size: 1rem;
}

.location{
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 1rem;
    margin-left: 1rem;
    font-weight:900;
}


.last-date{
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 1rem;
    margin-left: 1rem;
    font-weight:900;
    color: #212529;

}

.button{
    background-color: rgb(0, 42, 54);
    border-radius: 10px;
  
    width: 80px;
    padding: 5px;
    color: white;
    margin: auto;
    outline: none;
    border: none;
    
}


.svg-icon{
    color: blue;
}


@media screen and (max-width: 668px) {
.card {
    width: 80vw;
}

}


@media screen and (max-width: 768px) {


    .card {
        width: 40vw;
    }
}

@media screen and (max-width: 395px){

    .card-body {
        padding: 0!important;
    }
}


@media screen and (max-width: 426px){

    .card-title {
        font-size: 17px!important;
    }

}


