.nav-container{
    background-color: rgb(22, 21, 21);
    
    display: flex;
    padding: 20px;
    justify-content: normal;
    align-items: center;
}

.website-logo{

    height: 40px;
    margin-left: 80px;
    margin-right: 40px;
}


.link-container{
   
    margin-left: 100px;
}

a{
    color: white;
    text-decoration: none;
    margin-left: 30px;
    font-size: large;
    
    
    
}

.svg-icon{
    
    display: flex;
    
    align-items: center;
  
    justify-content: center;
    
    
    
    
    line-height: 1;
    border-radius: 50%;

    color: rgb(255, 255, 255);
    

}



